fastapi
uvicorn[standard]
python-dotenv
psycopg[binary]
passlib[bcrypt]
python-jose[cryptography]
PyJWT
jinja2

# --- Dépendances pour le téléversement de fichiers ---
httpx>=0.25.0
supabase>=2.0.0

# --- Dépendances pour l'analyse de fichiers (PDF, DOCX) ---
PyPDF2
python-docx
openai==1.12.0